.container {
	width: 750px;
	margin: auto;
}

.left {
	margin-top: 20px;
	margin-left: 10px;
	position: relative;
	float: left;
	width: 30%;
	height: 50px;
}

.middle {
	margin-top: 20px;
	margin-left: 20px;
	position: relative;
	float: left;
	width: 30%;
	height: 50px;
}

.right {
	margin-top: 20px;
	margin-left: 20px;
	position: relative;
	float: left;
	width: 30%;
	height: 50px;
}

.plugboard {
	margin-top: 20px;
}

button {
	margin-top: 10px;
}